<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="public\styles.css">
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="not-found content">
        OOPS!! Page not found :)
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>