<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="public\styles.css">
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Hello, we are just learning jS from The Net Ninja Tutorials.</p>
        <p>we are going to dive into the deep learning of JS.</p>
        <p>jhsgkhfukh dfjgkfdh kjdfgko fdgn ksakdfl ldskgutr asdkufn dfk</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>